@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*define a página toda em um grid de uma só coluna
e 5 linhas*/
.page-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.4fr 0.2fr 0.1fr;
}

nav {
    margin: 0 5%;
    justify-content: center;
    align-items: center;
    text-align: right;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}

.logo {
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 27px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu a {
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #eb594c;
    border-top: 4px solid #180F4A;
}

#button {
    background: #180F4A;

    color: white;
    border-radius: 5px;
    margin-left: 16px;
}

#button:hover {
    border: none;
    background: #eb594c;
}

.header {
    margin: 0 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headline {
    flex: 40%;
    text-align: center;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p {
    text-align: left;
}

.headline a {
    display: inline-block;
    background: #180F4A;
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.headline a:hover {
    background: #eb594c;
}

.img-headline {
    margin-left: 2%;
    flex: 40%;
    text-align: center;
}

abbr {
    text-decoration: none;
}

/*main, efeitos de grid em "main"
e "@media screen and (max-width:1574px)"
e "@media screen and (min-width:1575px)"*/

/*cria layout de grid com repetição de auto-fit,
mínimo de 300px e máximo de 1fr para as colunas*/
main {
    margin: 0 5%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: justify;
    width: 90%;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

main h3 {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180F4A;
}

main div {
    background: #95bec9;
    border-radius: 5px;
    padding: 5%;
}

/*define membros como mais largos ou mais altos
em telas maiores*/
@media screen and (max-width:1574px){
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }
}

@media screen and (min-width:1575px){
    .card-wide {
        grid-column: span 4 / auto;
    }
}

main div p {
    text-indent: 2em;
}

main a {
    text-decoration: none;
    color: #ffffff;
}

main a:hover {
    color: #eb594c;
}


/*aside, efeitos de grid em "aside ul"*/
aside {
    margin: 0 5%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 40px;
}

.design-preview img {
    width: 100%;
}

aside img {
    display: block;
    overflow: clip;
}

aside img:hover{
    border: 4px solid #180F4A;
}

/*cria 5 colunas de tamanho mínimo 200px 
e máximo 20% da width disponível*/
aside ul{
    margin-top: 0;
    display: grid;
    padding-left: 0;
    gap: 2%;
    grid-template-columns: repeat(5,minmax(200px, 20%));
}

aside ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    list-style: none;
    background: #eb594c;
    padding:2% 2% 3% 2%;
    border-radius: 5px;
    box-shadow:10px 10px #0b0722;

}

aside a{
    text-decoration: none;
}

aside a{
    text-decoration: none;
    color: #180F4A;
}

aside a:hover{
    color: #ffffff;
}

/*footer, nada de especial*/
footer {
    margin-top: 80px;
    box-shadow: 0px -4px #64aab2;
    background: #e0f4f7;
    width: 100%;
    bottom: 100;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #64aab2;
}

footer a:hover {
    color: #eb594c;
}